<!DOCTYPE html> 
<html dir="ltr" lang="en-US">


<head>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="GDG Jalandhar" />
	
    
    <!-- ============================================
        Stylesheets
    ============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/colors.html" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/tipsy.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/camera.css" type="text/css" />
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
	
	
    <!-- ============================================
        External JavaScripts
    ============================================= -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/plugins.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.camera.js"></script>
    
    <!-- ============================================
        Document Title
    ============================================= -->
	<title>Google Developers Group Jalandhar</title>
    

</head>

<body class="stretched">


    <div id="wrapper" class="clearfix">
    
    
      <!--  <div id="top-bar">
            
           <div class="container clearfix">
        
                <div id="top-menu">

                    <ul>

                        <li><span>/</span><a href="index-2.html">Home</a></li>
                        <li><span>/</span><a href="/about/">About</a></li>
                        <li><span>/</span><a href="contact.html">Contact</a></li><li><span>/</span><a href="opportunities.html">Opportunities</a></li>

                    </ul>

                </div>
            
            
                <div id="top-social">

                    <ul>

                        <li class="ts-facebook"><a href="https://www.facebook.com/GoogleDeveloperGroupMumbai" target="_blank"><div class="ts-icon"></div><div class="ts-text">Facebook</div></a></li>
                        <li class="ts-twitter"><a href="https://twitter.com/GDGMumbai/" target="_blank"><div class="ts-icon"></div><div class="ts-text">Twitter</div></a></li>
                        <li class="ts-gplus"><a href="https://plus.google.com/109582787530740759595/" target="_blank"><div class="ts-icon"></div><div class="ts-text">Google+</div></a></li>
                        <li class="ts-flickr"><a href="https://www.facebook.com/groups/googledevelopergroup/" target="_blank"><div class="ts-icon"></div><div class="ts-text">Facebook&nbsp;Group</div></a></li>
                        <li class="ts-mail"><a href="mailto:contact@gdgmumbai.org"><div class="ts-icon"></div><div class="ts-text">contact@gdgmumbai.org</div></a></li>

                    </ul>

                </div>

            </div>

        </div>
    -->
        
        <div id="header">
        
            
            <div class="container clearfix">
            
                <!--
                <div id="logo">


                   <!-- <a href="index-2.html"><img src="{{ STATIC_URL }}images/logo.png" alt="GDG Mumbai" title="GDG Mumbai" /></a>
                <a href="index-2.html"><img src="{{ STATIC_URL }}images/{{ social.logo }} " height="100" width="250" alt="GDG Jalandhar" title="GDG Jalandhar" /></a>
                </div> -->

                
                <div id="primary-menu">
                
                
                    <ul>
                        {% for i in menu %}
                        <li><a href="/about/"><div>{{ i.menu_title }}</div><span>{{ i.menu_subtitle }}</span></a></li>
                        {% endfor %}
                    <!--
                        <li class="current"><a href="index-2.html"><div>Home</div><span>Let's Start here</span></a></li>
                        <li><a href="/about/"><div>About</div><span>Know us better</span></a></li>
                        <li><a href="events.html"><div>Events</div><span>What we do</span></a></li>
                        <li><a href="https://plus.google.com/photos/109582787530740759595/albums" target="_blank"><div>Gallery</div><span>Some snaps</span></a></li>
                        <li><a href="connect.html"><div>Join</div><span>Connect &amp; Inspire</span></a></li><li><a href="contact.html"><div>Contact</div><span>Get in Touch</span></a></li>
                    -->
                    </ul>
                
                
                </div>

            </div>


                <div id="top-social">
                    <li class="ts-facebook"><a href="{{ social.logo }}" target="_blank"><div class="ts-icon"></div><div class="ts-text">Facebook</div></a></li>

                    <!--
                    <ul>

                        <li class="ts-facebook"><a href="https://www.facebook.com/GoogleDeveloperGroupMumbai" target="_blank"><div class="ts-icon"></div><div class="ts-text">Facebook</div></a></li>
                        <li class="ts-twitter"><a href="https://twitter.com/GDGMumbai/" target="_blank"><div class="ts-icon"></div><div class="ts-text">Twitter</div></a></li>
                        <li class="ts-gplus"><a href="https://plus.google.com/109582787530740759595/" target="_blank"><div class="ts-icon"></div><div class="ts-text">Google+</div></a></li>
                        <li class="ts-flickr"><a href="https://www.facebook.com/groups/googledevelopergroup/" target="_blank"><div class="ts-icon"></div><div class="ts-text">Facebook&nbsp;Group</div></a></li>
                        <li class="ts-mail"><a href="mailto:contact@gdgmumbai.org"><div class="ts-icon"></div><div class="ts-text">contact@gdgmumbai.org</div></a></li>

                    </ul>
-->
                </div>


        </div>
        
        
         <div id="slider" style="height: auto;">
        
            <div class="container clearfix">
            
            <a href="events/io14.html">
                <img src="{{ STATIC_URL }}images/portfolio/full/io14.jpg" alt="Google I/O Extended Mumbai" style="width: 100%;" />
            </a>
            
            </div>
        
        </div>
        
        
        <div id="content">
        
        
            <div class="content-wrap">
            
            
                <div class="container clearfix">
                
                
                    <div class="promo">
                    
                        <div class="promo-desc">
                        
                            <h3 style="text-transform:uppercase">Google Developer Group Mumbai</h3>
                            
                            <span>A community where programmers meet to discuss and work with several Google developer resources &amp; products.</span>
                            
                        </div>
                        
                        <div class="promo-action"><a href="/about/">About us</a></div>
                    
                    </div>
                    
                   
                    
                                        
                    <div class="clear"></div>
                    
              
            
            
            </div>
        
        
        </div>
        
        
        <div id="copyrights" class="copyrights-dark">
        
            <div class="container clearfix">
        
            
                <div class="col_half">
                
                    Copyrights &copy; 2013 &amp; All Rights Reserved by GDG Mumbai.
                
                </div>
                
                <div class="col_half col_last tright">
                
                    <a href="#">Sitemap</a><span class="link-divider">/</span><a href="#">FAQs</a>
                
                </div>
            
            
            </div>
        
        </div>


    </div>
    
    
    <div id="gotoTop" class="icon-angle-up"></div>


    <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43388912-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>


<!-- Mirrored from www.gdgmumbai.org/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Jul 2014 03:54:27 GMT -->
</html>